{% include "base.html" %}

       
						 <div class="theGrid"  id="primaryorg">
							
							</div>
              <div class="clear"></div>
                    </section>
                
                
            </section>
            
            </section>
        </section>
        <!--section right panel end here-->
    
    </section>
    </section>
	<div id="boxes">
	<div id="dialog" class="window win-main">
	<div class="setup-head"> Initial Setup Wizard</div>
	<div align="right" class="close-btn"><a href="javascript:void()" class="close"><img src="{{STATIC_URL}}polls/images/close_btn.png" width="16" style="border:none; cursor:pointer;" /></a></div>
	
	<div align="center" class="step1-text">
	<p>Configuring Your VisualOrg System is quick and easy and can be completed in the following steps.</p>
	<div class="click-text">
		<div class="img-first"><img src="{{STATIC_URL}}polls/images/1.png"></div>
		<div class="dwn-file">Download the simple spreadsheet by <a  href="/home/spreadsheet_download/"style="color:#0099FF">Cliking Here</a></div>
		
	</div>
	<div><input type="button" name="continue" value="Continue" id="continue" class="cont-btn"/></div>
	<div class="footer_txt">
	<p>Configuring Your VisualOrg System is quick and easy and can be completed in the following steps.</p>
	</div>

	</div>
	
	</div>
	
	<!-- Mask to cover the whole screen -->
	<div style="width: 2000px; height: 2000px; display: none; opacity: 0.7;" id="mask"></div>
	</div>
	
	<div id="boxes1">
	<div  id="dialog1" class="window1 win-main">
	<div class="setup-head"> Initial Setup Wizard</div>
	<div align="right" class="close-btn"><a href="javascript:void()" class="close"><img src="{{STATIC_URL}}polls/images/close_btn.png" width="16" style="border:none; cursor:pointer;" /></a></div>
	
	<div align="center" class="step1-text">
	<p>Configuring Your VisualOrg System is quick and easy and can be completed in the following steps.</p>
	<div class="click-text">
		<div class="img-first"><img src="{{STATIC_URL}}polls/images/2.png"></div>
		<div class="dwn-file">Upload Your Completed Spreadsheet Below</div>
		
	</div>
	<form action="/home/upload/" method="post" class="form-horizontal" enctype="multipart/form-data" accept-charset="utf-8" id="cpform"> 
	{% csrf_token %}
		<input type="file" name="csvData" id="csvData" accept=".csv" class="file-browse" data-bvalidator="extension[csv],required" data-bvalidator-msg="Please select file of type .csv"/>
		<input type="submit" name="done" value="Done" id="done" class="cont-btn1"/>
	</form>
	</div>
	<div class="footer_txt">
	<p>Configuring Your VisualOrg System is quick and easy and can be completed in the following steps.</p>
	</div>
	</div>
	
	<!-- Mask to cover the whole screen -->
	<div style="width: 2000px; height: 2000px; display: none; opacity: 0.7;" id="mask1"></div>
	</div>
    <!--content panel end here-->

</section>

<script type="text/javascript" src="{{STATIC_URL}}polls/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}polls/scripts.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}polls/jquery.slimscroll.js"></script>

<script type="text/javascript">
    $(function(){

      $('.leftsidemenu').slimScroll();
		$('#download').click(function(){
		$.get('/home/spreadsheet_download/', function(data){
				   //$('#like_count').html(data);
				   //$('#likes').hide();
			   });
	});

    });
</script>
<script src="{{STATIC_URL}}polls/jquery.bvalidator.js" type="text/javascript"></script>
<link href="{{STATIC_URL}}polls/bvalidator.css" rel="stylesheet" type="text/css" />
<script src="{{STATIC_URL}}polls/jquery.filtertable.min.js" type="text/javascript"></script>

<script type="text/javascript">
	$(document).ready(function() {	
	 $('table').filterTable({ // apply filterTable to all tables on this page
            inputSelector: '#input-filter' // use the existing input instead of creating a new one
        });
			
	$('#cpform').bValidator();
			var id = '#dialog';
		
			//Get the screen height and width
			var maskHeight = $(document).height();
			var maskWidth = $(window).width();
		
			//Set heigth and width to mask to fill up the whole screen
			$('#mask').css({'width':maskWidth,'height':maskHeight});
			
			//transition effect		
			$('#mask').fadeIn(800);	
			$('#mask').fadeTo("slow",0.8);	
		
			//Get the window height and width
			var winH = $(window).height();
			var winW = $(window).width();
				  
			//Set the popup window to center
			$(id).css('top',  winH/2-$(id).height()/2 -50);
			$(id).css('left', winW/2-$(id).width()/2);
		
			//transition effect
			$(id).fadeIn(500); 	
		
		//if close button is clicked
		$('.window .close').click(function (e) {
			//Cancel the link behavior
			e.preventDefault();
			
			$('#mask').hide();
			$('#dialog').hide();
		});		
		
		//if mask is clicked
		$('#mask').click(function () {
			$(this).preventDefault();
			$(this).hide();
			$('#dialog').hide();
		});		
		
		$("#continue").click(function(){
		
			$('#dialog').hide();
		var id = '#dialog1';
		
			//Get the screen height and width
			var maskHeight = $(document).height();
			var maskWidth = $(window).width();
		
			//Set heigth and width to mask to fill up the whole screen
			$('#mask1').css({'width':maskWidth,'height':maskHeight});
			
			//transition effect		
			$('#mask1').fadeIn(800);	
			$('#mask1').fadeTo("slow",0.8);	
		
			//Get the window height and width
			var winH = $(window).height();
			var winW = $(window).width();
				  
			//Set the popup window to center
			$(id).css('top',  winH/2-$(id).height()/2 -50);
			$(id).css('left', winW/2-$(id).width()/2);
		
			//transition effect
			$(id).fadeIn(500); 	
		
		//if close button is clicked
		$('.window1 .close1').click(function (e) {
			//Cancel the link behavior
			e.preventDefault();
			
			$('#mask1').hide();
			$('#dialog1').hide();
		});		
		
		//if mask is clicked
		$('#mask').click(function () {
			$(this).preventDefault();
			$(this).hide();
			$('#dialog1').hide();
		});	
	});
		$("#done").click(function(){
			var csvData
		csvData = $("#csvData").val();
		$.ajax({
			url:"/home/upload/",
			type: "POST",
			data: {csvData: csvData,csrfmiddlewaretoken: '{{ csrf_token }}'},
			success:function(response){
				alert(response);
			},
			complete:function(){},
			error:function (xhr, textStatus, thrownError){
			//alert("error doing something");
			}
		});
		});
		$('.close').click(function () {
			$('#dialog1').hide();
			$('.window1').hide();
			$('#mask1').hide();
			$('#dialog').hide();
			$('.window').hide();
			$('#mask').hide();
		});	
	});
	function listinactive(id,str)
	{
		$.ajax({
			url:"/home/listinactive/"+str,
			type: "POST",
			data: {id: id,csrfmiddlewaretoken: '{{ csrf_token }}'},
			success:function(response){
			$("#primaryorg").html(response);
					$("#primaryorg").show();
			},
			complete:function(){},
			error:function (xhr, textStatus, thrownError){
			
			}
		});
	}
	function listactive(id,str)
	{
		$.ajax({
			url:"/home/listactive/"+str,
			type: "POST",
			data: {id: id,csrfmiddlewaretoken: '{{ csrf_token }}'},
			success:function(response){
			$("#primaryorg").html(response);
					$("#primaryorg").show();
			},
			complete:function(){},
			error:function (xhr, textStatus, thrownError){
			
			}
		});
	}
	function removelist(id)
	{
		$.ajax({
			url:"/home/removelist/",
			type: "POST",
			data: {id: id,csrfmiddlewaretoken: '{{ csrf_token }}'},
			success:function(response){
			$("#primaryorg").html(response);
					$("#primaryorg").show();
			},
			complete:function(){},
			error:function (xhr, textStatus, thrownError){
			
			}
		});
	}
	function activeslt(str)
	{
		
		$('#selectall').removeAttr('checked');
		var lena=$("input:checkbox:checked").length;
		var counter = 0;
		if(lena == 0)
		{
			alert('Please select atleast one checkbox');
		}
		else{
			var searchIDs = $("input:checkbox:checked").map(function(){
			  //alert($(this).val());
			  $.ajax({
					url:"/home/activeslt/"+str,
					type: "POST",
					data: {id: $(this).val(),csrfmiddlewaretoken: '{{ csrf_token }}'},
					success:function(response){
					$("#primaryorg").html(response);
					$("#primaryorg").show();
					counter++;
					},
					complete:function(){},
					error:function (xhr, textStatus, thrownError){
					
					}
				});
			}).get();
			//alert('Activate Successfully');
			
			}
		
	}
	function inactiveslt(str)
	{
		$('#selectall').removeAttr('checked');
		var lena=$("input:checkbox:checked").length;
		var counter = 0;
		if(lena == 0)
		{
			alert('Please select atleast one checkbox');
		}
		else{
			var searchIDs = $("input:checkbox:checked").map(function(){
			  //alert($(this).val());
			  $.ajax({
					url:"/home/inactiveslt/"+str,
					type: "POST",
					data: {id: $(this).val(),csrfmiddlewaretoken: '{{ csrf_token }}'},
					success:function(response){
					$("#primaryorg").html(response);
					$("#primaryorg").show();
					},
					complete:function(){},
					error:function (xhr, textStatus, thrownError){
					
					}
				});
			}).get();
		}
		//alert('Deactivate Successfully');
			
		
		
	}
	
	</script>
	
</body>
</html>
