<html>
<head>
<title>Welcome to Vorg</title>
<link href="{{STATIC_URL}}polls/style.css" rel="stylesheet" type="text/css">
<link rel="icon" href="{{STATIC_URL}}polls/images/favicon.ico" type="image/png">
<link href="{{STATIC_URL}}polls/reset.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}polls/screen.css" rel="stylesheet" type="text/css" />
<script src="{{STATIC_URL}}polls/jquery.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}polls/html5.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}polls/jquery.bvalidator.js" type="text/javascript"></script>
<link href="{{STATIC_URL}}polls/bvalidator.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}polls/responsive-layout.css" rel="stylesheet" type="text/css" />
<script src="{{STATIC_URL}}polls/jquery.filtertable.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}polls/drop/scripts_dropdown.js"></script>
<style type="text/css">
body {display:table;}
</style>
<script type="text/javascript"> 
     var options6 = {
		offset: {x:5, y:-2},
        position: {x:'right', y:'center'},
        template: '<div class="{errMsgClass}">{message}</div>',
        showCloseIcon: true,
        classNamePrefix: 'ex6_',
        validateOn: 'blur'
    };
    
    $(document).ready(function () {
        $('#cpform').bValidator(options6);
    });
</script>
</head>
<body>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<section class="mainwrappcont">
	
    <!--Header start here-->
    <header id="headfixbar">
    	<div class="toplogopanel"><a href="/"><img src="{{STATIC_URL}}polls/admin-logo.png" alt=""/></a></div>
        <a href="#" class="navmobile"></a>
        <div class="toplinkpanel">
        	<ul class="linkrightpanel">
            	<li><a href="#"><i class="fa fa-search"></i></a></li>
                <li class="posi_global"><a href="#"><span class="notifictdiv">1</span><i class="fa fa-bell-o"></i></a></li>
                <li class="posi_global"><a href="#" class="settingdrop"><i class="fa fa-cog"></i></a>
                	<div class="settingdropdownpan">
                    	<div class="popuarrow"></div>
                        <div class="dropwappdiv">
                        	<h6>Change Theme Color</h6>
                            <ul>
                            	<li><a href="#" style="background-color:#fb9337"></a></li>
                                <li><a href="#" style="background-color:#fb9337"></a></li>
                                <li><a href="#" style="background-color:#fb9337"></a></li>
                                <li><a href="#" style="background-color:#fb9337"></a></li>
                                <li><a href="#" style="background-color:#fb9337"></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
		
  </header>
    <!--Header end here-->
    
    <!--content panel start here-->
    <section>
	
    <section class="maincontentbox">
   
    	<!--aside left panel start here-->
        <aside class="leftmenpan hiddendiv sleekmenuset">
        	<section class="mainwrappcont">

            <div class="usersstatus">
            	<div class="avtarclass"><a href="#" class="userprofill"><img src="{{STATIC_URL}}polls/images/User-default-icon.png" alt=""/></a></div>
                <div class="avtarnamergt">
                	<a href="#"  class="userprofill"><span>{{questions}}</span> <i class="fadownarrow"></i></a>
                </div>
                <div class="clear"></div>
                <div class="dropdowmenu">
                	<!--<div class="popuarrow"></div>-->
                    <ul>
                    	<li><a href="#">Settings</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Notification</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="/home/logout/">Logout</a></li>
                    </ul>
                </div>
                
            </div>
            
            <section class="leftmenuscroll">
            <ul class="asideleftlink leftsidemenu">
            	<li><a href="#"><span class="iconspan"><img src="{{STATIC_URL}}polls/images/icon-dashboard.png" alt=""/></span><span class="textname">Dashboard</span> 
                <span class="arrowupdown">&nbsp;</span>
                </a>
                <div class="submenudiv">
                	<ul class="sublistlink">
                    	<li><a href="#"><span>System Configuration</span></a></li>
                        <li><a href="#"><span>Alerts</span></a></li>
                        <li><a href="#"><span>Account Info</span></a></li>
                        <li><a href="#"><span>Activate / Deactivate Seats</span></a></li>
                    </ul>
                </div>
                </li>
                
                <li><a href="javascript:void(0);" class="primaryorg"><span class="iconspan"><img src="{{STATIC_URL}}polls/images/icon-primaryorg.png" alt=""/></span> <span class="textname">Primary Org</span> 
                <span class="arrowupdown">&nbsp;</span>
				</a>
				 <div class="submenudiv">
                	<ul class="sublistlink">
                    	<li><a href="javascript:void(0);" onclick="getprimaryorg('Primary ORG');"><span>Primary-ORG</span></a></li>
						<li><a href="javascript:void(0);" onclick="getadduser('Add User');"><span>Add User</span></a></li>
                       
                    </ul>
                </div>
				</li>
                
                <li><a href="#" class="teamsicon"><span class="iconspan"><img src="{{STATIC_URL}}polls/images/icon-teams.png" alt=""/></span> <span class="textname">Teams</span> 
                </a></li>
                
                <li><a href="#" class="workgroup"><span class="iconspan"><img src="{{STATIC_URL}}polls/images/icon-workgroup.png" alt=""/></span> <span class="textname">Workgroups</span> 
                </a></li>
                
                <li><a href="#" class="livedocs"><span class="iconspan"><img src="{{STATIC_URL}}polls/images/icon-livedocs.png" alt=""/></span> <span class="textname">LiveDocs</span> 
                </a></li>
                
                <li><a href="#" class="documents"><span class="iconspan"><img src="{{STATIC_URL}}polls/images/icon-documents.png" alt=""/></span> <span class="textname">Documents</span> 
                </a></li>
                
                <li><a href="#" class="process"><span class="iconspan"><img src="{{STATIC_URL}}polls/images/icon-process.png" alt=""/></span> <span class="textname">Process</span> 
                </a></li>
                
                <li><a href="#" class="channels"><span class="iconspan"><img src="{{STATIC_URL}}polls/images/icon-channel.png" alt=""/></span> <span class="textname">channels</span> 
                </a></li>
                
                
            </ul>
            </section>
            
            <div class="asidefooterpan">
            	<ul class="footerlinklist">
                	<li><a href="/home/logout/" class="logoffcls" title="logout">&nbsp;</a></li>
                    <li><a href="#" class="menupanl menuicons" title="collapse-expand">&nbsp;</a></li>
                </ul>
            </div>
            </section>
        
        </aside>
		 <!--aside left panel end here-->
        
        <!--section right panel start here-->
        <section class="">
		 <div id="wait" style="display:none;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;">
   <img src='{{STATIC_URL}}polls/images/ajax-loader.gif'/></div>
        	<section class="mainwrappcont">
           
            	<!--top link start here-->
                <div class="topbluepanel">
                	<ul class="toplinkpanel" id="dymenu">
                    	<!--<li class="mobilwidt"><a href="#" class="mystatisicon">My Stats</a></li>
                        <li class="mobilwidt"><a href="#" class="systemstaticon">System Stats</a></li>
                        <li class="hiddendiv"><a href="#" class="globalicon">Global</a></li>
                        <li class="hiddendiv"><a href="#" class="profileicon">User Profiles</a></li>
                        <li class="hiddendiv"><a href="#" class="organizaticon">Organizations</a></li>
                        <li class="hiddendiv"><a href="#" class="livedocicon">LiveDocs</a></li>
                        <li class="hiddendiv"><a href="#" class="documenticon">Documents</a></li>-->
                    </ul>
                    <div  class="mobilemorelnk fright">
                    <a href="#">&nbsp;</a>					
                    <div class="morebsublinkdiv">
                    	<div class="moretopsubarrw"></div>
                    	<div class="linkwrappdiv">
                        	<ul class="toplinkpanel">
                        <li><a href="#" class="globalicon">Global</a></li>
                        <li><a href="#" class="profileicon">User Profiles</a></li>
                        <li><a href="#" class="organizaticon">Organizations</a></li>
                        <li><a href="#" class="livedocicon">LiveDocs</a></li>
                        <li><a href="#" class="documenticon">Documents</a></li>
                    </ul>
                        </div>
                    </div>
                    </div>
                <div class="clear"></div>
                
                </div>
                <!--top link end here-->
                <div id="aboutright" style="display:none;float: right; width: 19%;position: relative;z-index: 9999;">
					
 
					
				</div>
                <section class="topfityone">
                	<section class="cotentitlepanl">
                    	<!--<ul id="dymenu"></ul>-->
                        <!--<ul class="contentoprightpan">
                        	<li>
                            	<div class="imgstatis"><img src="{{STATIC_URL}}polls/images/statisred.png" alt=""/></div>
                                <div class="statcontent">
                               	  <p>
                                    	Users
										<span>17,561</span>	
                                  </p>
                                </div>
                            </li>
                            
                            <li class="lastchild">
                            	<div class="imgstatis"><img src="{{STATIC_URL}}polls/images/statisgreen.png" alt=""/></div>
                                <div class="statcontent">
                               	  <p>
                                    	profit
										<span>$21,561.21</span>	
                                  </p>
                                </div>
                            </li>
                        </ul>-->
                        <div class="clear"></div>
		<script>
		function getprimaryorg(str)
		{
			
			//alert(str);
			$("#wait").css("display","block");
			$(".topfityone").css({ opacity:0.1 });
			Text = str.toLowerCase();
			Text = Text.replace(' ','-');
			//alert(Text);
			if($('#primary-org').length == 0)
				$("#dymenu").append("<li id="+Text+" class='mobilwidt'><a href='javascript:void(0);' class='mystatisicon' onclick='showprimaryorg();'>"+str+"</a><img src='{{STATIC_URL}}polls/images/close-icon.png' style='margin-top: -40px;float:right;' onclick='removeli("+'"'+Text+'"'+")'/></li>");
			$.ajax({
					url:"/home/priorg/",
					type: "POST",
					data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
					success:function(response){
					//alert(response);
					$("#primaryorg").html(response);
					$("#primaryorg").show();
					$("#adduser").hide();
					$("#aboutright").hide();
					$(".topfityone").css('width','100%');
					$("#wait").css("display","none");
					$(".topfityone").css({ opacity:''});
					},
					complete:function(){},
					error:function (xhr, textStatus, thrownError){
					
					}
				});
		}
		function showprimaryorg()
		{
			$("#wait").css("display","block");
			$(".topfityone").css({ opacity:0.1 });
				$.ajax({
					url:"/home/priorg/",
					type: "POST",
					data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
					success:function(response){
					//alert(response);
					$("#primaryorg").html(response);
					$("#primaryorg").show();
					$("#adduser").hide();
					$("#aboutright").hide();
					$(".topfityone").css('width','100%');
					$("#wait").css("display","none");
					$(".topfityone").css({ opacity:'' });
					},
					complete:function(){},
					error:function (xhr, textStatus, thrownError){
					
					}
				});
		}
		function getadduser(str)
		{	
			$("#wait").css("display","block");
			$(".topfityone").css({ opacity:0.1 });
			$.ajax({
					url:"/home/getuser/",
					type: "POST",
					data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
					success:function(response){
					//alert(response);
					//$("#primaryorg").hide();
					$("#aboutright").html(response);
					//$("#adduser").show();
					$("#wait").css("display","none");
					$(".topfityone").css({ opacity:'' });
					},
					complete:function(){},
					error:function (xhr, textStatus, thrownError){
					
					}
				});
			    var effect = 'slide';

				// Set the options for the effect type chosen
				var options = '';

				// Set the duration (default: 400 milliseconds)
				var duration = 2500;

			$('#aboutright').toggle(effect, options, duration);
			//$("#aboutright").toggle( "slide" );
			$(".topfityone").css('width','80%');
		}
		function getadduser1(str)
		{
			$("#wait").css("display","block");
			$(".topfityone").css({ opacity:0.1 });
			//alert(str);
			Text = str.toLowerCase();
			Text = Text.replace(' ','-');
			//alert(Text);
			if($('#add-user').length == 0)
				$("#dymenu").append("<li id="+Text+" class='mobilwidt'><a href='javascript:void(0);' class='mystatisicon' onclick='showadduser();'>"+str+"</a><img src='{{STATIC_URL}}polls/images/close-icon.png' style='margin-top: -40px;float:right;' onclick='removeli("+'"'+Text+'"'+")'/></li>");
			$.ajax({
					url:"/home/getuser/",
					type: "POST",
					data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
					success:function(response){
					//alert(response);
					$("#primaryorg").hide();
					$("#adduser").html(response);
					$("#adduser").show();
					$("#wait").css("display","none");
					$(".topfityone").css({ opacity:'' });
					},
					complete:function(){},
					error:function (xhr, textStatus, thrownError){
					
					}
				});
		}
		function showadduser()
		{
			$("#wait").css("display","block");
			$(".topfityone").css({ opacity:0.1 });
			$.ajax({
					url:"/home/getuser/",
					type: "POST",
					data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
					success:function(response){
					//alert(response);
					$("#primaryorg").hide();
					$("#adduser").html(response);
					$("#adduser").show();
					$("#wait").css("display","none");
					$(".topfityone").css({ opacity:'' });
					},
					complete:function(){},
					error:function (xhr, textStatus, thrownError){
					
					}
				});
		}
		function removeli(str)
		{
			var ind=$("#"+str).index();
			var ind1=ind - 1;
			//alert(ind1);
			
			$("#"+str).remove();
			
			if(str == "primary-org")
				$("#primaryorg").hide();
			if(str == "add-user")
				$("#adduser").hide();
			var id=$("#dymenu li").eq(ind1).attr("id");
			//alert(id);
			$("#"+id+" a").trigger('click');
		}
		function getnewuser()
{
	var id = '#dialog';
		
			//Get the screen height and width
			var maskHeight = $(document).height();
			var maskWidth = $(window).width();
		
			//Set heigth and width to mask to fill up the whole screen
			$('#mask').css({'width':maskWidth,'height':maskHeight});
			
			//transition effect		
			$('#mask').fadeIn(800);	
			$('#mask').fadeTo("slow",0.8);	
		
			//Get the window height and width
			var winH = $(window).height();
			var winW = $(window).width();
				  
			//Set the popup window to center
			$(id).css('top',  winH/2-$(id).height()/2 -50);
			$(id).css('left', winW/2-$(id).width()/2);
		
			//transition effect
			$(id).fadeIn(500); 	
		
		//if close button is clicked
		$('.window .close').click(function (e) {
			//Cancel the link behavior
			e.preventDefault();
			
			$('#mask').hide();
			$('#dialog').hide();
		});		
		
		//if mask is clicked
		$('#mask').click(function () {
			$(this).preventDefault();
			$(this).hide();
			$('#dialog').hide();
		});		
		
}
		</script>