{% include "base.html" %}
</head>

<body>

<div class="adminloginwrapp">
	
    <!--admin login panel div start here-->
    <section class="adminloginpanel">
    	<div class="containerpaneldiv">
		Hi,
		<br/><br/>
		You recently requested a password reset.
		<br/><br/>
		To change your VORG password,  <a href="{{site_url}}" >CLICK HERE</a>
		<br/>
		<br/>
		<br/>
		Click here if you didnt try to change your password !!
		</div>
    </section>
    <!--admin login panel div end here-->

</div>

</body>
</html>
