{% include "base.html" %}
</head>

<body>

<div class="adminloginwrapp">
	
    <!--admin login panel div start here-->
    <section class="adminloginpanel">
    	<h2><img src="{{STATIC_URL}}polls/admin-logo.png" alt=""/></h2>
        <div class="containerpaneldiv">
		<form action="{% url "mysite_login" %}" method="post" accept-charset="utf-8">
        	<div class="loginhgtdiv">
            	<label for="your_name">User Name</label>
                <input type="text" value="" name="your_name" id="your_name"/>
            </div>
            
            <div class="loginhgtdiv">
            	<label for="password">Password</label>
                <input type="Password" value="" name="password" id="password"/>
            </div>
            
            <div class="loginhgtdiv">
            	<div class="rembmebrrpanl">
                	<input type="checkbox" />
                    <span class="remberspan">Remember Password</span>
                </div>
                <input type="submit" value="login" name="submit" />
                <div class="clear"></div>
            </div>
		</form>
        </div>
        <div class="footerdiv">
        	<a href="#">Fogot your Password?</a>
        </div>
    </section>
    <!--admin login panel div end here-->

</div>

</body>
</html>
