<html>
<head>
<title>Welcome to Vorg</title>
<link href="{{STATIC_URL}}polls/style.css" rel="stylesheet" type="text/css">
<link href="{{STATIC_URL}}polls/reset.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}polls/screen.css" rel="stylesheet" type="text/css" />
<script src="{{STATIC_URL}}polls/jquery.min.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}polls/html5.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}polls/jquery.bvalidator.js" type="text/javascript"></script>
<link href="{{STATIC_URL}}polls/bvalidator.css" rel="stylesheet" type="text/css" />
<link href="{{STATIC_URL}}polls/responsive-layout.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body {display:table;}
</style>
<script type="text/javascript"> 
	var options6 = {
        offset: {x:5, y:-2},
        position: {x:'right', y:'center'},
        template: '<div class="{errMsgClass}">{message}</div>',
        showCloseIcon: true,
        classNamePrefix: 'ex6_',
        validateOn: 'blur'
    };
    $(document).ready(function () {
        $('#cpform').bValidator(options6);
    });
</script>
</head>

<body>

<div class="adminloginwrapp">
	
    <!--admin login panel div start here-->
    <section class="adminloginpanel">
    	<h2><img src="{{STATIC_URL}}polls/admin-logo.png" alt=""/></h2>
        <div class="containerpaneldiv">
		<form action="/home/auth/" method="post" accept-charset="utf-8" id="cpform">
		{% csrf_token %}
			
            	<label style="color:#FF0000">{{msg}}</label>
            <div class="loginhgtdiv">
            	<label for="email">Email ID</label>
                <input type="text"  name="Email" id="email" data-bvalidator="email,required"/>
            </div>
            
            <div class="loginhgtdiv">
            	<label for="password">Password</label>
                <input type="Password"  name="Password" id="password" value="{{ id }}" data-bvalidator="required"/>
            </div>
            
            <div class="loginhgtdiv">
            	<div class="rembmebrrpanl">
                	<input type="checkbox" name="remember" id="remember"  checked="true" />
                    <span class="remberspan">Keep me login</span>
                </div>
                <input type="submit" value="SIGN IN" name="submit" />
                <div class="clear"></div>
            </div>
			<div><a href="/register/" class='custl'>Do not have account?</a></div>
		</form>
        </div>
        <div class="footerdiv">
        	<a href="/home/forgot/">Fogot your Password?</a>
        </div>
		
    </section>
    <!--admin login panel div end here-->

</div>

</body>
</html>
