{% include "base.html" %}
</head>

<body>

<div class="adminloginwrapp">
	
    <!--admin login panel div start here-->
    <section class="adminloginpanel">
    	<h2><img src="{{STATIC_URL}}polls/admin-logo.png" alt=""/></h2>
        <div class="containerpaneldiv">
		Please check your email
		<br/><br/>
		We've sent you an email that will allow you to reset your password easily.
		<br/><br/>
		Instructions for changing your password have been sent to the email address provided. 
		<br/><br/>
		</div>
        
        
    </section>
    <!--admin login panel div end here-->

</div>

</body>
</html>
