{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<div class="gridTop">
							  <ul>
								<li style="border-left:none;">
								<a class="activete" href="javascript:void(0);" onclick="activeslt('?page={{page}}')">Activate Selected</a>
								<select id="select" class="active_deactivate_select">
									<option>page Limit</option>
									<option>page Limit</option>
								</select>
								</li>
								
								<li>
								<a class="deactivete" href="javascript:void(0);" onclick="inactiveslt('?page={{page}}')">Deactivate Selected</a>
								<select id="select" class="active_deactivate_select">
									<option>Filter by</option>
									<option>Filter by</option>
								</select>
								</li>
								
							   <!-- <li>
								<a class="delete" href="#">Delete Selected</a>
								<select id="select" class="not_view_select">
									<option>Not Viewed in</option>
									<option>Not Viewed in</option>
								</select>
								</li>-->
								<div class="clear"></div>
							  </ul>
							  <input type="search" id="input-filter" placeholder="Search" class="search_box" />
								<input type="submit" value="" id="txtsubmit" name="txtsubmit" class="search_btn" />
							  <div class="clear"></div>
							</div>
							<div class="clear"></div>
                 <!--New-->
                    <div class="new_table_wi">
                    <section id="flip-scroll">
                    	 <table class="table-bordered table-striped table-condensed cf">
						  <thead class="cf">
							  <tr class="cf_bg_colro">
								  <th><input type="checkbox"  id="selectall" class="re_magin" style="margin-left:14px;"/></th>
								  <th>
                      	<ul id="nav">
							<li><a href="#">{% trans "name" %}</a>
                            	<ul>
                                	<li><a href="javascript:void(0);" onclick="sortorder('username','?page={{page}}')">Sort Ascending</a></li>
                                    <li><a href="javascript:void(0);" onclick="sortorder('-username','?page={{page}}')">Sort Descending </a></li>
                                    <li><a href="#">Columns</a>
                                    	<ul>
                                        	<li><p><input type="checkbox" name="check2" id="check2" checked="checked" onclick="hideshowtd(2)" class="re_magin" style="margin-left:5px;" /> <span>User Name</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check3" id="check3" checked="checked" onclick="hideshowtd(3)" class="re_magin" style="margin-left:5px;" /> <span>Role</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check4" id="check4" checked="checked" onclick="hideshowtd(4)" class="re_magin" style="margin-left:5px;" /> <span>Report To</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check5" id="check5" checked="checked" onclick="hideshowtd(5)" class="re_magin" style="margin-left:5px;" /> <span>Email</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check6" id="check6" checked="checked" onclick="hideshowtd(6)" class="re_magin" style="margin-left:5px;" /> <span>Creation Date</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check7" id="check7" checked="checked" onclick="hideshowtd(7)" class="re_magin" style="margin-left:5px;" /> <span>Status</span></p></li>
                                           
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>    
                      </th>
					  <th class="numeric">
                      <ul id="nav">
							<li><a href="#">{% trans "role" %}</a>
                            	<ul>
                                	<li><a href="javascript:void(0);" onclick="sortorder('role','?page={{page}}')">Sort Ascending</a></li>
                                    <li><a href="javascript:void(0);" onclick="sortorder('-role','?page={{page}}')">Sort Descending </a></li>
                                    <li><a href="#">Columns</a>
                                    	<ul>
                                        	<li><p><input type="checkbox" name="check2" id="check2" checked="checked" onclick="hideshowtd(2)" class="re_magin" style="margin-left:5px;" /> <span>User Name</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check3" id="check3" checked="checked" onclick="hideshowtd(3)" class="re_magin" style="margin-left:5px;" /> <span>Role</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check4" id="check4" checked="checked" onclick="hideshowtd(4)" class="re_magin" style="margin-left:5px;" /> <span>Report To</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check5" id="check5" checked="checked" onclick="hideshowtd(5)" class="re_magin" style="margin-left:5px;" /> <span>Email</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check6" id="check6" checked="checked" onclick="hideshowtd(6)" class="re_magin" style="margin-left:5px;" /> <span>Creation Date</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check7" id="check7" checked="checked" onclick="hideshowtd(7)" class="re_magin" style="margin-left:5px;" /> <span>Status</span></p></li>
                                            
                                           
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul> 
                      </th>
					  <th class="numeric">
                      <ul id="nav">
							<li><a href="#">{% trans "report_to" %}</a>
                            	<ul>
                                	<li><a href="javascript:void(0);" onclick="sortorder('report_to','?page={{page}}')">Sort Ascending</a></li>
                                    <li><a href="javascript:void(0);" onclick="sortorder('-report_to','?page={{page}}')">Sort Descending </a></li>
                                    <li><a href="#">Columns</a>
                                    	<ul>
                                        	<li><p><input type="checkbox" name="check2" id="check2" checked="checked" onclick="hideshowtd(2)" class="re_magin" style="margin-left:5px;" /> <span>User Name</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check3" id="check3" checked="checked" onclick="hideshowtd(3)" class="re_magin" style="margin-left:5px;" /> <span>Role</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check4" id="check4" checked="checked" onclick="hideshowtd(4)" class="re_magin" style="margin-left:5px;" /> <span>Report To</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check5" id="check5" checked="checked" onclick="hideshowtd(5)" class="re_magin" style="margin-left:5px;" /> <span>Email</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check6" id="check6" checked="checked" onclick="hideshowtd(6)" class="re_magin" style="margin-left:5px;" /> <span>Creation Date</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check7" id="check7" checked="checked" onclick="hideshowtd(7)" class="re_magin" style="margin-left:5px;" /> <span>Status</span></p></li>
                                            
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                      </th>
					  <th class="numeric">
                      <ul id="nav">
							<li><a href="#">{% trans "email" %}</a>
                            	<ul>
                                	<li><a href="javascript:void(0);" onclick="sortorder('email','?page={{page}}')">Sort Ascending</a></li>
                                    <li><a href="javascript:void(0);" onclick="sortorder('-email','?page={{page}}')">Sort Descending </a></li>
                                    <li><a href="#">Columns</a>
                                    	<ul>
                                        	<li><p><input type="checkbox" name="check2" id="check2" checked="checked" onclick="hideshowtd(2)" class="re_magin" style="margin-left:5px;" /> <span>User Name</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check3" id="check3" checked="checked" onclick="hideshowtd(3)" class="re_magin" style="margin-left:5px;" /> <span>Role</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check4" id="check4" checked="checked" onclick="hideshowtd(4)" class="re_magin" style="margin-left:5px;" /> <span>Report To</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check5" id="check5" checked="checked" onclick="hideshowtd(5)" class="re_magin" style="margin-left:5px;" /> <span>Email</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check6" id="check6" checked="checked" onclick="hideshowtd(6)" class="re_magin" style="margin-left:5px;" /> <span>Creation Date</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check7" id="check7" checked="checked" onclick="hideshowtd(7)" class="re_magin" style="margin-left:5px;" /> <span>Status</span></p></li>
                                            
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                      </th>
					  <th class="numeric">
                      <ul id="nav">
							<li><a href="#">{% trans "creation_date" %}</a>
                            	<ul>
                                	<li><a href="javascript:void(0);" onclick="sortorder('date','?page={{page}}')">Sort Ascending</a></li>
                                    <li><a href="javascript:void(0);" onclick="sortorder('-date','?page={{page}}')">Sort Descending </a></li>
                                    <li><a href="#">Columns</a>
                                    	<ul>
                                        	<li><p><input type="checkbox" name="check2" id="check2" checked="checked" onclick="hideshowtd(2)" class="re_magin" style="margin-left:5px;" /> <span>User Name</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check3" id="check3" checked="checked" onclick="hideshowtd(3)" class="re_magin" style="margin-left:5px;" /> <span>Role</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check4" id="check4" checked="checked" onclick="hideshowtd(4)" class="re_magin" style="margin-left:5px;" /> <span>Report To</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check5" id="check5" checked="checked" onclick="hideshowtd(5)" class="re_magin" style="margin-left:5px;" /> <span>Email</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check6" id="check6" checked="checked" onclick="hideshowtd(6)" class="re_magin" style="margin-left:5px;" /> <span>Creation Date</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check7" id="check7" checked="checked" onclick="hideshowtd(7)" class="re_magin" style="margin-left:5px;" /> <span>Status</span></p></li>
                                            
                                           
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                      </th>
					  <th class="numeric">
                      <ul id="nav">
							<li><a href="#">{% trans "status" %}</a>
                            	<ul>
                                	<li><a href="javascript:void(0);" onclick="sortorder('status','?page={{page}}')">Sort Ascending</a></li>
                                    <li><a href="javascript:void(0);" onclick="sortorder('-status','?page={{page}}')">Sort Descending </a></li>
                                    <li><a href="#">Columns</a>
                                    	<ul>
                                        	<li><p><input type="checkbox" name="check2" id="check2" checked="checked" onclick="hideshowtd(2)" class="re_magin" style="margin-left:5px;" /> <span>User Name</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check3" id="check3" checked="checked" onclick="hideshowtd(3)" class="re_magin" style="margin-left:5px;" /> <span>Role</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check4" id="check4" checked="checked" onclick="hideshowtd(4)" class="re_magin" style="margin-left:5px;" /> <span>Report To</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check5" id="check5" checked="checked" onclick="hideshowtd(5)" class="re_magin" style="margin-left:5px;" /> <span>Email</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check6" id="check6" checked="checked" onclick="hideshowtd(6)" class="re_magin" style="margin-left:5px;" /> <span>Creation Date</span></p></li>
                                            
                                            <li><p><input type="checkbox" name="check7" id="check7" checked="checked" onclick="hideshowtd(7)" class="re_magin" style="margin-left:5px;" /> <span>Status</span></p></li>
                                            
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                      </th>
					  <th style="padding-left: 11px;">{% trans "actions" %}</th>
							  </tr>
						  </thead>
						  <tbody>
						  {% for d in data%}
						  <tr id="list{{d.id}}">
						<td><input type="checkbox" name="checklist[]" class="checkbox1" id="checklist{{d.id}}" value="{{d.id}}"  /></td>
						<td>{{d.username}}</td>
						<td class="numeric">{{d.role}}</td>
						<td class="numeric">{{d.report_to}}</td>
						<td class="numeric">{{d.email}}</td>
						<td class="numeric">{{d.date}}</td>
						<td class="numeric">{{d.status}}</td>
						<td class="numeric">
                        		  <ul class="table_ul">
									<li><a href="#"><img src="{{STATIC_URL}}polls/images/action1.png" alt="#" /></a></li>
									<li><a href="#"><img src="{{STATIC_URL}}polls/images/action2.png" alt="#" /></a></li>
									{% if d.status == "Active" %}
									<li><a href="javascript:void(0);" onclick="listinactive({{d.id}},'?page={{page}}')" ><img src="{{STATIC_URL}}polls/images/action3.png" alt="#" /></a></li>
									{% else %}
									<li><a href="javascript:void(0);" onclick="listactive({{d.id}},'?page={{page}}')" ><img src="{{STATIC_URL}}polls/images/action4.png" alt="#" /></a></li>
									{% endif %}
									<!--<li><a href="javascript:void(0);" onclick="removelist({{d.id}})"><img src="{{STATIC_URL}}polls/images/action5.png" alt="#" /></a></li>-->
                                  <div class="clear"></div>
                                </ul></td>
					</tr>
					{% endfor %}
					</tbody>
					</table>
					
                   
                    
                 
                    </section>
                    </div>
              <!--Table Ends-->
                      
						
               
              <!--Table Ends-->
                <div class="paginetion">
              		<!--Left-->
                    <div class="paginetion_left">
                    	<input type="button" id="submit" name="submit" value="Bulk User Upload" class="page_btn" onclick="getnewuser()"/>
                    </div>
                    <!--Left-->
                    <!--Right-->
                    <div class="paginetion_right">
                    	<ul>
                        	<li>
							{% if data.has_previous %}
							 <a href="javascript:void(0);" onclick="getpg('?page={{ data.previous_page_number }}')"><img src="{{STATIC_URL}}polls/images/page_btn.png" alt="page_btn" /></a>
							{% endif %}
							{% if data.has_next %}
                            <a href="javascript:void(0);" onclick="getpg('?page={{ data.next_page_number }}')"><img src="{{STATIC_URL}}polls/images/page_btn1.png" alt="page_btn" /></a>
							{% endif %}
                            </li>
                            
                            <li>
                            	<p> {{ data.number }} of <span>{{ data.paginator.num_pages }}</span></p>
                            </li>
                        </ul>
                    </div>
                    <!--Right-->
              </div>
<script src="{{STATIC_URL}}polls/jquery.filtertable.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {	
	 $('table').filterTable({ // apply filterTable to all tables on this page
            inputSelector: '#input-filter' // use the existing input instead of creating a new one
        });
	
		
    $('#selectall').click(function(event) {  //on click 
        if(this.checked) { // check select status
            $('.checkbox1').each(function() { //loop through each checkbox
                this.checked = true;  //select all checkboxes with class "checkbox1"               
            });
        }else{
            $('.checkbox1').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"                       
            });         
        }
    });
    	});
	
function getpg(str)
{
		$("#wait").css("display","block");
			$(".topfityone").css({ opacity:0.1 });
		$.ajax({
					url:"/home/priorg/"+str,
					type: "POST",
					data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
					success:function(response){
					//alert(response);
					$("#primaryorg").html(response);
					$("#primaryorg").show();
					$("#wait").css("display","none");
					$(".topfityone").css({ opacity:'' });
					},
					complete:function(){},
					error:function (xhr, textStatus, thrownError){
					
					}
				});
}
function sortorder(order,str)
{
	$("#wait").css("display","block");
			$(".topfityone").css({ opacity:0.1 });
	$.ajax({
					url:"/home/priorgdy/"+str,
					type: "POST",
					data: {order:order,csrfmiddlewaretoken: '{{ csrf_token }}'},
					success:function(response){
					//alert(response);
					$("#primaryorg").html(response);
					$("#primaryorg").show();
					$("#wait").css("display","none");
					$(".topfityone").css({ opacity:'' });
					},
					complete:function(){},
					error:function (xhr, textStatus, thrownError){
					
					}
				});
}
function hideshowtd(no)
{	
		var chk=$('input:checkbox[name=check'+no+']').is(':checked');
		 var second = $('td:nth-child('+no+'),th:nth-child('+no+')').is(':hidden');
		//alert(second);
		if(second == false){
			$('input:checkbox[name=check'+no+']').attr('checked',false);
			$('td:nth-child('+no+'),th:nth-child('+no+')').hide();
		}
		else{
			$('input:checkbox[name=check'+no+']').attr('checked',true);
			$('td:nth-child('+no+'),th:nth-child('+no+')').show();
		}
		

	
}
function getnewuser()
{
	var id = '#dialog';
		
			//Get the screen height and width
			var maskHeight = $(document).height();
			var maskWidth = $(window).width();
		
			//Set heigth and width to mask to fill up the whole screen
			$('#mask').css({'width':maskWidth,'height':maskHeight});
			
			//transition effect		
			$('#mask').fadeIn(800);	
			$('#mask').fadeTo("slow",0.8);	
		
			//Get the window height and width
			var winH = $(window).height();
			var winW = $(window).width();
				  
			//Set the popup window to center
			$(id).css('top',  winH/2-$(id).height()/2 -50);
			$(id).css('left', winW/2-$(id).width()/2);
		
			//transition effect
			$(id).fadeIn(500); 	
		
		//if close button is clicked
		$('.window .close').click(function (e) {
			//Cancel the link behavior
			e.preventDefault();
			
			$('#mask').hide();
			$('#dialog').hide();
		});		
		
		//if mask is clicked
		$('#mask').click(function () {
			$(this).preventDefault();
			$(this).hide();
			$('#dialog').hide();
		});		
		
}
</script>