<div class="gridTop">
							  <ul>
								<li style="border-left:none;">
								<a class="activete" href="javascript:void(0);" onclick="activeslt('?page={{page}}')">Activate Selected</a>
								<select id="select" class="active_deactivate_select">
									<option>page Limit</option>
									<option>page Limit</option>
								</select>
								</li>
								
								<li>
								<a class="deactivete" href="javascript:void(0);" onclick="inactiveslt('?page={{page}}')">Deactivate Selected</a>
								<select id="select" class="active_deactivate_select">
									<option>Filter by</option>
									<option>Filter by</option>
								</select>
								</li>
								
							   <!-- <li>
								<a class="delete" href="#">Delete Selected</a>
								<select id="select" class="not_view_select">
									<option>Not Viewed in</option>
									<option>Not Viewed in</option>
								</select>
								</li>-->
								<div class="clear"></div>
							  </ul>
								<input type="search" name="input-filter" id="input-filter" placeholder="Search" class="search_box" />
								<input type="submit" value="" id="txtsubmit" name="txtsubmit" class="search_btn" />
							  <div class="clear"></div>
							</div>
							<div class="clear"></div>
                 <!--New-->
                    <div class="new_table_wi">
                    <section id="flip-scroll">
                    	 <table class="table-bordered table-striped table-condensed cf" id="tbl">
						  <thead class="cf">
							  <tr class="cf_bg_colro">
								  <th><input type="checkbox"  id="selectall" class="re_magin" style="margin-left:14px;"/></th>
								  <th name="tcol1" id="tcol1">
                      	<ul id="nav">
							<li><a href="#">Name</a>
                            	<ul>
                                	<li><a href="javascript:void(0);" onclick="sortorder('username','?page={{page}}')">Sort Ascending</a></li>
                                    <li><a href="javascript:void(0);" onclick="sortorder('-username','?page={{page}}')">Sort Descending </a></li>
                                    <li><a href="#">Columns</a>
										
                                    	<ul>
											<form name="tcol" onsubmit="return false">
                                        	<li><p><input type="checkbox"  class="re_magin" style="margin-left:5px;" name="col1" onclick="toggleVis(this.name)" checked /> <span>User Name</span></p></li>
                                            
                                            <li><p><input type="checkbox"  class="re_magin" style="margin-left:5px;" name="col2" onclick="toggleVis(this.name)" checked /> <span>Role</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col3" onclick="toggleVis(this.name)" checked /> <span>Report To</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col4" onclick="toggleVis(this.name)" checked /> <span>Email</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col5" onclick="toggleVis(this.name)" checked /> <span>Creation Date</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col6" onclick="toggleVis(this.name)" checked /> <span>Status</span></p></li>
                                           </form>
                                        </ul>
										
                                    </li>
                                </ul>
                            </li>
                        </ul>    
                      </th>
					  <th class="numeric" name="tcol2" id="tcol2">
                      <ul id="nav">
							<li><a href="#">Role</a>
                            	<ul>
                                	<li><a href="javascript:void(0);" onclick="sortorder('role','?page={{page}}')">Sort Ascending</a></li>
                                    <li><a href="javascript:void(0);" onclick="sortorder('-role','?page={{page}}')">Sort Descending </a></li>
                                    <li><a href="#">Columns</a>
                                    	<ul>
                                        	<form name="tcol" onsubmit="return false">
                                        	<li><p><input type="checkbox"  class="re_magin" style="margin-left:5px;" name="col1" onclick="toggleVis(this.name)" checked /> <span>User Name</span></p></li>
                                            
                                            <li><p><input type="checkbox"  class="re_magin" style="margin-left:5px;" name="col2" onclick="toggleVis(this.name)" checked /> <span>Role</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col3" onclick="toggleVis(this.name)" checked /> <span>Report To</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col4" onclick="toggleVis(this.name)" checked /> <span>Email</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col5" onclick="toggleVis(this.name)" checked /> <span>Creation Date</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col6" onclick="toggleVis(this.name)" checked /> <span>Status</span></p></li>
                                           </form>
                                            
                                           
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul> 
                      </th>
					  <th class="numeric" name="tcol3" id="tcol3">
                      <ul id="nav">
							<li><a href="#">Report To</a>
                            	<ul>
                                	<li><a href="javascript:void(0);" onclick="sortorder('report_to','?page={{page}}')">Sort Ascending</a></li>
                                    <li><a href="javascript:void(0);" onclick="sortorder('-report_to','?page={{page}}')">Sort Descending </a></li>
                                    <li><a href="#">Columns</a>
                                    	<ul>
                                        	<form name="tcol" onsubmit="return false">
                                        	<li><p><input type="checkbox"  class="re_magin" style="margin-left:5px;" name="col1" onclick="toggleVis(this.name)" checked /> <span>User Name</span></p></li>
                                            
                                            <li><p><input type="checkbox"  class="re_magin" style="margin-left:5px;" name="col2" onclick="toggleVis(this.name)" checked /> <span>Role</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col3" onclick="toggleVis(this.name)" checked /> <span>Report To</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col4" onclick="toggleVis(this.name)" checked /> <span>Email</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col5" onclick="toggleVis(this.name)" checked /> <span>Creation Date</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col6" onclick="toggleVis(this.name)" checked /> <span>Status</span></p></li>
                                           </form>
                                            
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                      </th>
					  <th class="numeric" name="tcol4" id="tcol4">
                      <ul id="nav">
							<li><a href="#">Email</a>
                            	<ul>
                                	<li><a href="javascript:void(0);" onclick="sortorder('email','?page={{page}}')">Sort Ascending</a></li>
                                    <li><a href="javascript:void(0);" onclick="sortorder('-email','?page={{page}}')">Sort Descending </a></li>
                                    <li><a href="#">Columns</a>
                                    	<ul>
                                        	<form name="tcol" onsubmit="return false">
                                        	<li><p><input type="checkbox"  class="re_magin" style="margin-left:5px;" name="col1" onclick="toggleVis(this.name)" checked /> <span>User Name</span></p></li>
                                            
                                            <li><p><input type="checkbox"  class="re_magin" style="margin-left:5px;" name="col2" onclick="toggleVis(this.name)" checked /> <span>Role</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col3" onclick="toggleVis(this.name)" checked /> <span>Report To</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col4" onclick="toggleVis(this.name)" checked /> <span>Email</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col5" onclick="toggleVis(this.name)" checked /> <span>Creation Date</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col6" onclick="toggleVis(this.name)" checked /> <span>Status</span></p></li>
                                           </form>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                      </th>
					  <th class="numeric" name="tcol5" id="tcol5">
                      <ul id="nav">
							<li><a href="#">Creation Date</a>
                            	<ul>
                                	<li><a href="javascript:void(0);" onclick="sortorder('date','?page={{page}}')">Sort Ascending</a></li>
                                    <li><a href="javascript:void(0);" onclick="sortorder('-date','?page={{page}}')">Sort Descending </a></li>
                                    <li><a href="#">Columns</a>
                                    	<ul>
                                        	<form name="tcol" onsubmit="return false">
                                        	<li><p><input type="checkbox"  class="re_magin" style="margin-left:5px;" name="col1" onclick="toggleVis(this.name)" checked /> <span>User Name</span></p></li>
                                            
                                            <li><p><input type="checkbox"  class="re_magin" style="margin-left:5px;" name="col2" onclick="toggleVis(this.name)" checked /> <span>Role</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col3" onclick="toggleVis(this.name)" checked /> <span>Report To</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col4" onclick="toggleVis(this.name)" checked /> <span>Email</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col5" onclick="toggleVis(this.name)" checked /> <span>Creation Date</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col6" onclick="toggleVis(this.name)" checked /> <span>Status</span></p></li>
                                           </form>
                                            
                                           
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                      </th>
					  <th class="numeric" name="tcol6" id="tcol6">
                      <ul id="nav">
							<li><a href="#">Status</a>
                            	<ul>
                                	<li><a href="javascript:void(0);" onclick="sortorder('status','?page={{page}}')">Sort Ascending</a></li>
                                    <li><a href="javascript:void(0);" onclick="sortorder('-status','?page={{page}}')">Sort Descending </a></li>
                                    <li><a href="#">Columns</a>
                                    	<ul>
                                        	<form name="tcol" onsubmit="return false">
                                        	<li><p><input type="checkbox"  class="re_magin" style="margin-left:5px;" name="col1" onclick="toggleVis(this.name)" checked /> <span>User Name</span></p></li>
                                            
                                            <li><p><input type="checkbox"  class="re_magin" style="margin-left:5px;" name="col2" onclick="toggleVis(this.name)" checked /> <span>Role</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col3" onclick="toggleVis(this.name)" checked /> <span>Report To</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col4" onclick="toggleVis(this.name)" checked /> <span>Email</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col5" onclick="toggleVis(this.name)" checked /> <span>Creation Date</span></p></li>
                                            
                                            <li><p><input type="checkbox" class="re_magin" style="margin-left:5px;" name="col6" onclick="toggleVis(this.name)" checked /> <span>Status</span></p></li>
                                           </form>
                                            
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                      </th>
					  <th style="padding-left: 11px;">Actions</th>
							  </tr>
						  </thead>
						  <tbody>
						  {% for d in data%}
						  <tr id="list{{d.id}}">
						<td><input type="checkbox" name="checklist[]" class="checkbox1" id="checklist{{d.id}}" value="{{d.id}}"  /></td>
						<td name="tcol1" id="tcol1">{{d.username}}</td>
						<td class="numeric" name="tcol2" id="tcol2">{{d.role}}</td>
						<td class="numeric" name="tcol3" id="tcol3">{{d.report_to}}</td>
						<td class="numeric" name="tcol4" id="tcol4">{{d.email}}</td>
						<td class="numeric" name="tcol5" id="tcol5">{{d.date}}</td>
						<td class="numeric" name="tcol6" id="tcol6">{{d.status}}</td>
						<td class="numeric">
                        		  <ul class="table_ul">
									<li><a href="#"><img src="{{STATIC_URL}}polls/images/action1.png" alt="#" /></a></li>
									<li><a href="#"><img src="{{STATIC_URL}}polls/images/action2.png" alt="#" /></a></li>
									{% if d.status == "Active" %}
									<li><a href="javascript:void(0);" onclick="listinactive({{d.id}},'?page={{page}}')" ><img src="{{STATIC_URL}}polls/images/action3.png" alt="#" /></a></li>
									{% else %}
									<li><a href="javascript:void(0);" onclick="listactive({{d.id}},'?page={{page}}')" ><img src="{{STATIC_URL}}polls/images/action4.png" alt="#" /></a></li>
									{% endif %}
									<!--<li><a href="javascript:void(0);" onclick="removelist({{d.id}})"><img src="{{STATIC_URL}}polls/images/action5.png" alt="#" /></a></li>-->
                                  <div class="clear"></div>
                                </ul></td>
					</tr>
					{% endfor %}
					</tbody>
					</table>
					
                   
                    
                 
                    </section>
                    </div>
              <!--Table Ends-->
                      
						
               
              <!--Table Ends-->
                <div class="paginetion">
              		<!--Left-->
                    <div class="paginetion_left">
                    	<input type="submit" id="submit" name="submit" value="ADD NEW" class="page_btn" />
                    </div>
                    <!--Left-->
                    <!--Right-->
                    <div class="paginetion_right">
                    	<ul>
                        	<li>
							{% if data.has_previous %}
							 <a href="javascript:void(0);" onclick="getpg('?page={{ data.previous_page_number }}')"><img src="{{STATIC_URL}}polls/images/page_btn.png" alt="page_btn" /></a>
							{% endif %}
							{% if data.has_next %}
                            <a href="javascript:void(0);" onclick="getpg('?page={{ data.next_page_number }}')"><img src="{{STATIC_URL}}polls/images/page_btn1.png" alt="page_btn" /></a>
							{% endif %}
                            </li>
                            
                            <li>
                            	<p> {{ data.number }} of <span>{{ data.paginator.num_pages }}</span></p>
                            </li>
                        </ul>
                    </div>
                    <!--Right-->
              </div>
<script src="{{STATIC_URL}}polls/jquery.filtertable.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {	
	 $('table').filterTable({ // apply filterTable to all tables on this page
            inputSelector: '#input-filter' // use the existing input instead of creating a new one
        });
	
		
    $('#selectall').click(function(event) {  //on click 
        if(this.checked) { // check select status
            $('.checkbox1').each(function() { //loop through each checkbox
                this.checked = true;  //select all checkboxes with class "checkbox1"               
            });
        }else{
            $('.checkbox1').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"                       
            });         
        }
    });
    	});
	
function getpg(str)
{
		$.ajax({
					url:"/home/priorg/"+str,
					type: "POST",
					data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
					success:function(response){
					//alert(response);
					$("#primaryorg").html(response);
					$("#primaryorg").show();
					},
					complete:function(){},
					error:function (xhr, textStatus, thrownError){
					
					}
				});
}
function sortorder(order,str)
{
	$.ajax({
					url:"/home/priorgdy/"+str,
					type: "POST",
					data: {order:order,csrfmiddlewaretoken: '{{ csrf_token }}'},
					success:function(response){
					//alert(response);
					$("#primaryorg").html(response);
					$("#primaryorg").show();
					},
					complete:function(){},
					error:function (xhr, textStatus, thrownError){
					
					}
				});
}
function hideshowtd(no)
{
	if($("#check1").attr("checked") == true)
	{
		$('td:nth-child('+no+'),th:nth-child('+no+')').show();
	}
	else
	{
		$('td:nth-child('+no+'),th:nth-child('+no+')').hide();
	}
}

</script>
<script language="javascript">

// Set the default "show" mode to that specified by W3C DOM
// compliant browsers

var showMode = 'table-cell';

// However, IE5 at least does not render table cells correctly
// using the style 'table-cell', but does when the style 'block'
// is used, so handle this

if (document.all) showMode='block';

// This is the function that actually does the manipulation

function toggleVis(btn){

	// First isolate the checkbox by name using the
	// name of the form and the name of the checkbox
	
	btn   = document.forms['tcol'].elements[btn];

	// Next find all the table cells by using the DOM function
	// getElementsByName passing in the constructed name of
	// the cells, derived from the checkbox name

	cells = document.getElementsByName('t'+btn.name);

	// Once the cells and checkbox object has been retrieved
	// the show hide choice is simply whether the checkbox is
	// checked or clear

	mode = btn.checked ? showMode : 'none';

	// Apply the style to the CSS display property for the cells
	document.getElementsByName(btn).checked = false;
	for(j = 0; j < cells.length; j++) cells[j].style.display = mode;
}

</script>