<script type="text/javascript"> 
	var options6 = {
        offset: {x:5, y:-2},
        position: {x:'right', y:'center'},
        template: '<div class="{errMsgClass}">{message}</div>',
        showCloseIcon: false,
        classNamePrefix: 'ex7_',
        validateOn: 'blur'
    };
    $(document).ready(function () {
        $('#cpform').bValidator(options6);
    });
	
</script>

</head>

<body>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<div class="adminloginwrapp">
	
    <!--admin login panel div start here-->
    <section class="adminloginpanel addmain">
    	
        <div class="containerpaneldiv addusernew">
		{% trans "comming_soon" %}
        </div>
        
    </section>
    <!--admin login panel div end here-->

</div>

 